<p id="notice"><%= notice %></p>


<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<%= link_to 'Edit', edit_agent_contact_path(@agent,@contact), :class => "button tiny success" %>
<%= link_to 'Back', agent_path(@agent), :class => "button tiny" %>
